
@font-face {
    font-family: arial;
    src: url(../Fonts/arial-narrow.ttf);
}

#exit{
   margin-right: 25px;
}

#main_frame{
    #margin-top: 70px;
}


.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.fullscreen{
    width: 100%;
    height: 80%;
}

body{
    overflow-x: hidden;
}

/* ###################### Users form */

#users_form{
    width: 100%;
    height: 400px;
    #background-color: #bfe4fc;
    margin-top: 60px;
}

#manage_buttons{
    #width: 150px;
    position: absolute;
    right: 0px;
    width: 20%;
    margin-top: 7px;
}

#example_wrapper div.col-xs-6:first-of-type{
    width: 230px;
    padding: 0px 18px;
}

#example_wrapper div.dataTables_paginate{
    float: left;
}


#example_wrapper div.col-xs-6:last-of-type{
    width: 400px;
    padding: 0px 18px;
    float: left;
}


#manage_buttons button{
    width: 100%;
    height: 50px;
}

#manage_buttons div
{
    background-image: url("../images/table_caption.png");
    background-repeat: repeat-x;
    height: 50px;
}

#manage_buttons_change{
    position: absolute;
    right: 0px;
    width: 20%;
    margin-top: 7px;
}

#manage_buttons_change div{
    background-image: url("../images/table_caption.png");
    background-repeat: repeat-x;
    height: 66px;
    margin-top: 1px;
}

#manage_buttons_change button{
    width: 100%;
    height: 50px;
}

#upload_form{
    #width: 950px;
    height: 400px;
    margin-top: 70px;
}

#upload_manage_buttons{
    #width: 790px;
    #position: absolute;
    right: 0px;
}


#users_list{
    position: absolute;

    height: 400px;
    #background-color: #dcdcdc;
    #top: -20px;
    width: 80%;
}

#uploaded_list{
    #position: absolute;
    width: 100%;
    height: 400px;
    #background-color: #dcdcdc;
    top: -20px;
}

#uploaded_list table.dataTable{
    margin-top: 0px !important;
}

#fupload_form{
    margin: 0px;
}

.DTTT{
    display: none;
}

#example_filter{
    display: none;
}

#status_off{
    display: none;
}

#uploaded_list TD,TH{
    font-size:14px
}

#users_list TD,TH{
    font-size:14px
}

#search_list{
    #position: absolute;
    #width: 790px;
    height: 400px;
    #background-color: #dcdcdc;

}

#change_list{
    height: 400px;
    width: 80%;
    display: inline-block;
}
#change_list TD,TH{
    font-size:12px
}

#change_list{
    margin-top: 10px;
}

#change_list #example_paginate{
    font-size: 11;
}

#search_form{
    #margin-top: 60px;
    #width: 600px;
}

#search_list TD,TH{
    font-size:12px
}

#search_list{
    margin-top: 10px;
}

#search_list #example_paginate{
    font-size: 11;
}

#example_info{
 font-size: 12;
}

#example_length{
    font-size: 12px;
}

/* NEW STILE */


.blue-button{

    background: #d7eaf0; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7eaf0 0%, #b5d7e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7eaf0), color-stop(100%,#b5d7e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7eaf0 0%,#b5d7e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eaf0', endColorstr='#b5d7e1',GradientType=0 ); /* IE6-9 */
}

.upload-button{
    background: #81bbe4; /* Old browsers */
    background: -moz-linear-gradient(top,  #81bbe4 0%, #5b9ed3 49%, #428cc9 100%, #428cc9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81bbe4), color-stop(49%,#5b9ed3), color-stop(100%,#428cc9), color-stop(100%,#428cc9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #81bbe4 0%,#5b9ed3 49%,#428cc9 100%,#428cc9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #81bbe4 0%,#5b9ed3 49%,#428cc9 100%,#428cc9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #81bbe4 0%,#5b9ed3 49%,#428cc9 100%,#428cc9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #81bbe4 0%,#5b9ed3 49%,#428cc9 100%,#428cc9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bbe4', endColorstr='#428cc9',GradientType=0 ); /* IE6-9 */
}


.green-button{
    background: #d4e4b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d4e4b3 0%, #b6ce82 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4b3), color-stop(100%,#b6ce82)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d4e4b3 0%,#b6ce82 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4b3', endColorstr='#b6ce82',GradientType=0 ); /* IE6-9 */
}


.panel-default > .panel-heading{
    background: #44bcf1; /* Old browsers */
    background: -moz-linear-gradient(top,  #44bcf1 0%, #44bcf1 85%, #bfbfbf 91%, #bfbfbf 93%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44bcf1), color-stop(85%,#44bcf1), color-stop(91%,#bfbfbf), color-stop(93%,#bfbfbf), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bcf1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.ui-widget-header{
    background: #44bcf1; /* Old browsers */
    background: -moz-linear-gradient(top,  #44bcf1 0%, #44bcf1 85%, #bfbfbf 91%, #bfbfbf 93%, #ffffff 100%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44bcf1), color-stop(85%,#44bcf1), color-stop(91%,#bfbfbf), color-stop(93%,#bfbfbf), color-stop(100%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #44bcf1 0%,#44bcf1 85%,#bfbfbf 91%,#bfbfbf 93%,#ffffff 100%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bcf1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.ui-dialog{
    padding: 0px;
}

.ui-dialog .ui-dialog-title{
    margin: .7em 0em;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
}

 .ui-widget-header .ui-state-default{
    background: url('../images/close_window.png');
    border: 0px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

span.ui-icon-closethick{
    display: none;
}

.ui-widget-content{
    border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
}

.ui-dialog-buttonset{
    float: none;
    width: 100%;
    text-align: center;
}




.ui-dialog-buttonset > button:first-of-type{
    width: 140px;
    background: #d7eaf0; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7eaf0 0%, #b5d7e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7eaf0), color-stop(100%,#b5d7e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7eaf0 0%,#b5d7e1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7eaf0 0%,#b5d7e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eaf0', endColorstr='#b5d7e1',GradientType=0 ); /* IE6-9 */
}

.add-button span{
    margin-left: 5px;
    background: url("../images/add.png") no-repeat;
    background-position: 14px 3px;
    color: #428cc9;
    font-family: arial;
}

.ui-dialog-buttonset > button:last-of-type{
    width: 140px;
    background: #d4e4b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d4e4b3 0%, #b6ce82 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4b3), color-stop(100%,#b6ce82)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d4e4b3 0%,#b6ce82 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d4e4b3 0%,#b6ce82 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4b3', endColorstr='#b6ce82',GradientType=0 ); /* IE6-9 */
}

.cancel-button span{
    margin-left: 5px;
    background: url("../images/close.png") no-repeat;
    background-position: 21px 5px;
    color: #5f9000;
    font-family: arial;
}

.edit-button span{
    margin-left: 5px;
    background: url("../images/edit_form.png") no-repeat;
    background-position: 14px 5px;
    color: #428cc9;
    font-family: arial;
}

.delete-button span{
    margin-left: 5px;
    background: url("../images/del.png") no-repeat;
    background-position: 14px 5px;
    color: #428cc9;
    font-family: arial;
}


#example tr:first-of-type{
    background-image: url("../images/table_caption.png");
    background-repeat: repeat-x;
    height: 50px;
}

#example{

}

#example tr{
    height: 50px;
}

#example tr:first-of-type th{
    vertical-align: middle;
    text-transform: uppercase;
    font-family: arial;
}

#example tr td{
    vertical-align: middle;
    word-break: break-all;
}



#example tr.odd td{
    background-color: #ecf6f8;
}

#example tr.active td{
    background-color: #017ebc;
}

.dropdown-menu li a{
    height: 40px;
    background-image: url("../images/menu_item.png");
    padding: 10px 20px;
}

.dropdown-menu li a:hover{
    height: 40px;
    background-image: url("../images/menu_item_active.png");
    padding: 10px 20px;
}


.dropdown-menu{
    padding: 0px 0;
}

.upd{
    margin: 0px;
}

#upload_manage_buttons{
     background: #DeE3B8;
     text-align: center;
 }

#upload_manage_buttons div{
    display: inline-block;
    padding: 15px;
}

#upload_manage_buttons select{
    width: 700px;
    display: inline-block;
}

#upload_manage_buttons button{
    display: inline-block;
}

#search_manage_buttons{
    text-align: center;
}