
#exit{
   margin-right: 25px;
}

#main_frame{
    margin-top: 70px;
}


.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.fullscreen{
    width: 100%;
    height: 80%;
}

/* ###################### Users form */

#users_form{
    width: 950px;
    height: 400px;
    #background-color: #bfe4fc;
}

#manage_buttons{
    width: 150px;
    position: absolute;
    right: 0px;
}

#manage_buttons button{
    margin-top: 5px;
}

#users_list{
    position: absolute;
    width: 790px;
    height: 400px;
    #background-color: #dcdcdc;
    top: -20px;
}
.DTTT{
    display: none;
}

#example_filter{
    display: none;
}

#status_off{
    display: none;
}