
#exit{
   margin-right: 25px;
}

#main_frame{
    margin-top: 70px;
}


.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.fullscreen{
    width: 98%;
    height: 80%;
}

/* ###################### Users form */

#users_form{
    width: 950px;
    height: 400px;
    #background-color: #bfe4fc;
}

#manage_buttons{
    width: 150px;
    position: absolute;
    right: 0px;
}

#upload_form{
    width: 950px;
    height: 400px;
    margin-top: 70px;
}

#upload_manage_buttons{
    #width: 790px;
    #position: absolute;
    right: 0px;
}

#manage_buttons button{
    margin-top: 5px;
}

#users_list{
    position: absolute;
    width: 790px;
    height: 400px;
    #background-color: #dcdcdc;
    top: -20px;
}

#uploaded_list{
    #position: absolute;
    #width: 790px;
    height: 400px;
    #background-color: #dcdcdc;
    top: -20px;
}

.DTTT{
    display: none;
}

#example_filter{
    display: none;
}

#status_off{
    display: none;
}

#uploaded_list TD,TH{
    font-size:14px
}

#users_list TD,TH{
    font-size:14px
}

#search_list{
    #position: absolute;
    #width: 790px;
    height: 400px;
    #background-color: #dcdcdc;

}

#search_form{
    #margin-top: 60px;
    #width: 600px;
}

#search_list TD,TH{
    font-size:12px
}

#search_list{
    margin-top: 10px;
}

#search_list #example_paginate{
    font-size: 11;
}

#example_length{
    font-size: 12px;
}
