#login_main{
    width: 100%;
    height: 100%;
}

#login_container{
    width: 340px;
    height: 190px;
    text-align: center;
    border: 2px;
    border-color: #2989d8;
    border-style: solid;
    background: #7db9e8;
}

#login_result{
    color: #DC3023;
    font-weight: bold;
}

#login_container div:not(:first-child){
    margin-top: 10px;
    width: 100%;
}

.tleft{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-left: 10px;
}

.htext{
    font-weight: bold;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 45%, #207cca 47%, #207cca 47%, #2989d8 53%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(45%,#207cca), color-stop(47%,#207cca), color-stop(47%,#207cca), color-stop(53%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 45%,#207cca 47%,#207cca 47%,#2989d8 53%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#207cca 45%,#207cca 47%,#207cca 47%,#2989d8 53%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 45%,#207cca 47%,#207cca 47%,#2989d8 53%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 45%,#207cca 47%,#207cca 47%,#2989d8 53%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    height: 30px;
    line-height: 30px;
}


.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

input[type=button] {
    width: 130px;
    height: 30px;
}





